<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pface.admin.modules.member.mapper.FaceCameraMapper" >
  <resultMap id="BaseResultMap" type="com.pface.admin.modules.member.po.FaceCamera" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="device_id" property="deviceId" jdbcType="VARCHAR" />
    <result column="camera_no" property="cameraNo" jdbcType="VARCHAR" />
    <result column="install_location" property="installLocation" jdbcType="VARCHAR" />
    <result column="channel" property="channel" jdbcType="TINYINT" />
    <result column="camera_name" property="cameraName" jdbcType="VARCHAR" />
    <result column="mode" property="mode" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="lib_ids" property="libIds" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
  </resultMap>
</mapper>