<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<!-- Content Header (Page header) -->
<section class="content-header" style="">
    <h1>
        分类管理
        <small>分类列表页面</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li><a href="#">分类管理</a></li>
        <li class="active">分类列表</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div>
                        <form class="form-inline" id="searchForm">
                            <div class="form-group">
                                <label for="searchName"> 分类名称</label>
                                <input type="text" class="form-control input-sm" name="name" id="searchName" placeholder="请输入名称">
                            </div>
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-default" onclick="javascript:Search();">
                                    <i class="glyphicon glyphicon-search"></i>
                                    查询
                                </button>
                                <!--<button type="reset" class="btn btn-default">-->
                                    <!--<i class="glyphicon glyphicon-trash"></i>-->
                                    <!--清空-->
                                <!--</button>-->
                            </div>
                        </form>
                    </div>
                    <div id="toolbar">
                        <div class="btn-group btn-group-sm">
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <button shiro:hasPermission="catalogue:create" type="button" id="addBtn" class="btn btn-default"
                                    data-toggle="modal"
                                    data-target="#addModal"><i class="glyphicon glyphicon-plus"></i> 新增
                            </button>
                            <!-- Indicates caution should be taken with this action -->
                            <!--<button shiro:hasPermission="catalogue:update" type="button" id="editBtn" class="btn btn-default"-->
                                    <!--data-toggle="modal"-->
                                    <!--data-target="#editModal"-->
                                    <!--data-action="{type:'editable',form:'#editForm',table:'#table'}"-->
                                    <!--disabled><i class="glyphicon glyphicon-edit"></i> 修改-->
                            <!--</button>-->
                            <!-- Indicates a dangerous or potentially negative action -->
                            <button shiro:hasPermission="catalogue:delete" type="button" id="deleteBtn" class="btn btn-default" data-toggle="modal"
                                    data-target="#deleteModal"
                                    data-action="{type:'delete',form:'#deleteForm',idField:'id',table:'#table'}"
                                    disabled><i class="glyphicon glyphicon-remove"></i> 删除
                            </button>
                        </div>
                    </div>
                    <table id="table"></table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<!-- add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="addModalLabel">添加分类</h4>
            </div>
            <div class="modal-body">
                <form id="addForm">
                    <div class="form-group">
                        <label class="control-label" for="name"><span class="asterisk">*</span>分类名称:</label>
                        <input id="name" type="text" class="form-control" name="name" placeholder="输入分类名称"
                               minlength="1" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="priority"><span class="asterisk">*</span>排序(按数字升序):</label>
                        <input id="priority" type="number"  min="1" max="10000" class="form-control" name="priority" placeholder="输入排序(数字)"
                               minlength="1" required>
                        <div class="help-block with-errors"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" form="addForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#addForm',url:'@{/admin/catalogue/create}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<!-- edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="editModalLabel">修改分类</h4>
            </div>
            <div class="modal-body">
                <form id="editForm">
                    <input type="hidden" name="id"/>
                    <div class="form-group">
                        <label class="control-label" for="editName"><span class="asterisk">*</span>分类名称:</label>
                        <input id="editName" type="text" class="form-control" name="name" placeholder="输入分类名称"
                               minlength="1" required>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="editpriority"><span class="asterisk">*</span>排序(按数字升序):</label>
                        <input id="editpriority" type="number"  min="1" max="10000" class="form-control" name="priority" placeholder="输入排序(数字)"
                               minlength="1"  required>
                        <div class="help-block with-errors"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" form="editForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#editForm',url:'@{/admin/catalogue/update}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<!-- delete modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteSmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteSmallModalLabel">删除分类</h4>
            </div>
            <div class="modal-body">
                <form id="deleteForm"></form>
                确定要删除选中的 <span class="records"></span> 条记录?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" form="deleteForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#deleteForm',url:'@{/admin/catalogue/delete-batch}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<div id="actionButtons" class="admin-hide">
    <a style="display: none" class="like" href="javascript:void(0)" data-toggle="tooltip" title="Like"><i class="glyphicon glyphicon-heart"></i></a>　
    <a class="edit ml10" href="javascript:void(0)" data-toggle="tooltip" title="编辑"><i class="glyphicon glyphicon-edit"></i></a>　
    <a class="remove ml10" href="javascript:void(0)" data-toggle="tooltip" title="删除"><i class="glyphicon glyphicon-remove"></i></a>　
</div>

<script th:inline="javascript">

    var $table = $('#table');
    $("body").bind("keypress","#searchName",function(event){
        if(event.keyCode == 13){
            Search();
            return false;
        }
    });
    $(function () {
        // bootstrap table初始化
        // http://bootstrap-table.wenzhixin.net.cn/zh-cn/documentation/
        $table.bootstrapTable({
            url: CONTEXT_PATH + '/admin/catalogue/list',
            idField: 'id',
            pagination: true,
            queryParams: function queryParams(params){
                var param = {
                    pageNumber: params.pageNumber,
                    pageSize: params.pageSize,
                    sortName: params.sortName,
                    sortOrder: params.sortOrder,
                    name:$.trim($('#searchName').val())
                };
                return param;
            },
            //初始化加载第一页，默认第一页
            pageNumber: 1,
            //每页的记录行数
            pageSize: 10,
            //可供选择的每页的行数
            pageList: [10,25,50,100],
            detailView: false,
            columns: [
                {field: 'state', checkbox: true},
                // {field: 'id', title: '系统编号', sortable: true, halign: 'left'},
                {field: 'name', title: '分类名称', sortable: false, halign: 'left'},
                {field: 'priority', title: '排序', sortable: false, halign: 'left'},
                {field: 'opDate', title: '修改日期', sortable: false, halign: 'left'},
                {
                    field: 'action',
                    title: '操作',
                    halign: 'center',
                    align: 'center',
                    formatter: 'actionFormatter',
                    events: 'actionEvents',
                    clickToSelect: false
                }
            ]
        });
    });

    // 数据表格展开内容
    function detailFormatter(index, row) {
        var html = [];
        $.each(row, function (key, value) {
            html.push('<p><b>' + key + ':</b> ' + value + '</p>');
        });
        return html.join('');
    }

    function actionFormatter(value, row, index) {
        return $('#actionButtons').html();
    }

    window.actionEvents = {
        /*'click .like': function (e, value, row, index) {
            alert('You click like icon, row: ' + JSON.stringify(row));
            console.log(value, row, index);
        },*/
        'click .edit': function (e, value, row, index) {
            $('#editModal').modal('show')
            $('#editForm').fillForm(row);
            console.log(value, row, index);
        },
        'click .remove': function (e, value, row, index) {
            $('#deleteModal').modal('show');
            $('.records').html('1');
            var html = '';
            for (var key in row) {
                html += '<input type="hidden" name="' + key + '" value="' + row[key] + '">';
            }
            $('#deleteForm').html(html);
        }
    };
    function Search() {
        var _name= $.trim($('#searchName').val());
        if (isEmpty(_name)) { //为空时查全部
            _name = "";
        }
        // if (!isEmpty(_name)) {
            var options = $('#table').bootstrapTable('refresh', {
                silent: true,
                query:
                    {
                        name: _name
                    }
            });
        // }
    }
    function isEmpty(obj){
        if(typeof obj == "undefined" || obj == null || obj == ""){
            return true;
        }else{
            return false;
        }
    }
</script>
</html>