<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>断点上传</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/webuploader/css/webuploader.css}"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style type="text/css">

        .wu-example {
            width: 847px;

            position: relative;
            padding: 45px 15px 15px;
            margin: 0 auto;
            background-color: #fafafa;
            box-shadow: inset 0 3px 6px rgba(0, 0, 0, .05);
            border-color: #e5e5e5 #eee #eee;
            border-style: solid;
            border-width: 1px 0;
        }

        #picker {
            display: inline-block;
            line-height: 1.428571429;
            vertical-align: middle;
            margin: 0 12px 0 0;
        }
    </style>
</head>
<body>
<div id="uploader" class="wu-example">
    <!--用来存放文件信息-->
    <div id="thelist" class="uploader-list"></div>
    <div class="btns">
        <div id="picker">选择文件</div>
        <button id="ctlBtn" class="btn btn-default">开始上传</button>
    </div>
    <p>
        <span>上传所用时间:</span>
        <span id="useTime">0</span>s
    </p>
</div>
</div>
<!--引入JS-->
<script src="http://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/static/webuploader/js/webuploader.min.js}"></script>

<script type="text/javascript">
    var $list = $("#thelist");
    var $btn = $("#ctlBtn");
    var state = 'pending'; // 上传文件初始化
    var timer;
    var fileArray = [];
    //待上传文件的md5值（key为file id）
    var md5 = {};
    var _fileMd5;
    var _guid;
    WebUploader.Uploader.register({
        'before-send-file': 'beforeSendFile' //整个文件上传前
    }, {
        beforeSendFile: function( file ) {
            var that = this;
            var deferred = WebUploader.Deferred();
            //上传前请求服务端,判断文件是否已经上传过
            _fileMd5=md5[file.id];
            //alert(_fileMd5);
            $.post(CONTEXT_PATH+"/file/checkFileExist", { guid:_guid,md5Code: md5[file.id] },
                function(data){
                    if (data.success) {
                        //跳过如果存在则跳过
                        that.owner.skipFile( file );
                        alert("文件已存在，无需上传！");
                    }
                    // 继续后面行为
                    deferred.resolve();
                });
            return deferred.promise();
        }
    });

    var uploader = WebUploader.create({

        // swf文件路径
        /*  swf: BASE_URL + '/js/Uploader.swf',*/
        // 文件接收服务端。
        server: CONTEXT_PATH+"/file/upload",
        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: '#picker',
        // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
        resize: false,
        duplicate: true,
        chunked: true,
        threads: 5,
        chunkSize: 10485760,
        formData: {
            guid: _guid,
            md5Code:_fileMd5
        }
    });

    //点击上传之前调用的方法
    uploader.on("uploadStart", function (file) {
         guid = WebUploader.Base.guid();
        var paramOb = {"guid": guid, "filedId": file.source.ruid,md5Code: md5[file.id]}
        uploader.options.formData.guid = guid;
        fileArray.push(paramOb);
    });

    // 当有文件被添加进队列的时候
    uploader.on('fileQueued', function (file) {
        $list.append( '<div id="' + file.id + '" class="item">' +
            '<h4 class="info">' + file.name + '</h4>' +
            '<p class="md5"></p>' +
            '<p class="state">正在计算md5值</p>' +
            '</div>' );
        //获取文件MD5值
        md5[file.id] = '';
        uploader.md5File( file ).progress(function(percentage) {
            // 及时显示进度
                $( '#'+file.id ).find('.md5').text('读取文件：'+parseInt(percentage*100)+"%");
            }).then(function(val) { // 完成
                md5[file.id] = val;
                _fileMd5=val;
               //alert(_fileMd5);
                $( '#'+file.id ).find('.md5').text('md5值：' + val);
                $( '#'+file.id ).find('.state').text('等待上传...');
            });
    });

    // 文件上传过程中创建进度条实时显示。
    uploader.on('uploadProgress', function (file, percentage) {
        var $li = $('#' + file.id),
            $percent = $li.find('.progress .progress-bar');
        // 避免重复创建
        if (!$percent.length) {
            $percent = $('<div class="progress progress-striped active">' +
                '<div class="progress-bar" role="progressbar" style="width: 0%">' +
                '</div>' +
                '</div>').appendTo($li).find('.progress-bar');
        }
        $li.find('p.state').text('上传中');
        $percent.css('width', percentage * 100 + '%');
    });
    //文件成功、失败处理
    uploader.on('uploadSuccess', function (file) {
        var successFileId = file.source.ruid;
        var successDuid;
        if (fileArray.length > 0) {
            for (var i = 0; i < fileArray.length; i++) {
                if (fileArray[i].filedId === successFileId) {
                    successDuid=fileArray[i].guid;
                    fileArray.splice(i, 1);
                }
            }
        }
        clearInterval(timer);
        $('#' + file.id).find('p.state').text('已上传');
        $.get( CONTEXT_PATH+"/file/merge", {"guid": successDuid,md5Code: md5[file.id]}, function (data, status) {
            layer.msg("合并完成");
        });

    });

    uploader.on('uploadError', function (file) {
        $('#' + file.id).find('p.state').text('上传出错');
    });

    uploader.on('uploadComplete', function (file) {
        $('#' + file.id).find('.progress').fadeOut();
    });

    $btn.on('click', function () {
        if (state === 'uploading') {
            uploader.stop();
        } else {
            uploader.upload();
            timer = setInterval(function () {
                var useTime = parseInt($("#useTime").html());
                useTime = useTime + 1;
                $("#useTime").html(useTime);
            }, 1000);
        }
    });


</script>
</body>
</html>