<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
	<!--<script type="text/javascript" src="https://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>-->
	<script type="text/javascript" th:src="@{/static/js/jquery183.js}"></script>
	<script th:src="@{/static/pface/js/jquery.msgbox.min.js}"></script>
	<head>
		<meta charset="UTF-8">
		<meta name="context-path" th:content="@{/}"/>
		<link rel="stylesheet" th:href="@{/static/pface/js/layui/css/layui.css}">
		<link rel="stylesheet" th:href="@{/static/pface/css/common.css}">
        <link rel="stylesheet" th:href="@{/static/pface/css/manage.css}" />
        <link rel="stylesheet" th:href="@{/static/pface/css/upload.css}" />
		<title>无感人脸——签到汇总</title>
		<script th:inline="javascript">
            var CONTEXT_PATH = [[${#request.getContextPath()}]];
		</script>
	</head>
	<body>
		<!--导航-->
		<div class="top clearfix" th:replace="~{front/header :: header}"></div>
		<!--内容管理-->
		<div class="container">
			<div class="wapper">
				<div class="m_conter clearfix hav_line">
					<div class="fl left_nav" th:replace="~{front/leftnav::leftnav}"></div>
					<!--右边-->
					<div class="fr right_conter">

						<div class="right_title">
							<div class="colorblack manage_tit">
								<img th:src="@{/static/pface/img/tit_inco.png}"/>
								<span>签到汇总</span>
							</div>
						</div>

						<div class="layui-form videoListM">
						<form  class="layui-form" lay-filter="choiceForm" id="search_form1" method="post" action="/front/assembleAppSnapList">

							<!--<div style="display: inline-block;vertical-align: middle;  margin-left: 20px">-->
								<!--<label style="display: inline-block;">时段类型：</label>-->
								<!--<div class="layui-input-inline">-->
									<!--<select  id="querytimetype" name="timetype">-->
										<!--<option value="1" th:selected="${timetype} eq 1">签到时段</option>-->
										<!--<option value="2" th:selected="${timetype} eq 2">会议时段</option>-->
										<!--<option value="3" th:selected="${timetype} eq 3">授权时段</option>-->
									<!--</select>-->
								<!--</div>-->
							<!--</div>-->

							<!--<div style="display: inline-block;vertical-align: middle;  margin-left: 20px">-->
								<!--<label style="display: inline-block;">时间段：</label>-->
								<!--<div class="layui-input-inline">-->
									<!---->
								<!--</div>-->
							<!--</div>-->

							<div style="display: inline-block;vertical-align: middle;  margin-left: 20px">
								<label style="display: inline-block;">会议名称：</label>
								<div class="layui-input-inline">
									<select  id="querysyssceneid" name="syssceneid">
										<option value="">全部</option>
										<option th:each="usescene:${faceAppUsesceneAllList}" th:value="${usescene.id}"
												th:text="${usescene.scenename}"
												th:selected="${usescene.id} eq ${syssceneid}"
										></option>
									</select>
								</div>
							</div>

							<div class="layui-inline">
								<span class="layui-btn layui-btn-warm btn-radius closeBlack" id="search">查询</span>
								<span class="layui-btn layui-btn-warm btn-radius closeBlack2" id="search2">导出</span>
							</div>
						</form>
						<hr />
						<table class="layui-table" lay-filter="demo" id="tableM">
							<thead>
							<tr>
								<th>会议名称</th>
								<th>应到人数</th>
								<th>实到人数</th>
								<th>未到人数</th>
								<th>签到开始时间</th>
								<th>签到结束时间</th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="appsnaplistassemble : ${appSnapListPojoAssemblePage}">
								<td th:text="${appsnaplistassemble.scenename}"></td>
								<td th:text="${appsnaplistassemble.totalcnt}"></td>
								<td th:text="${appsnaplistassemble.partcnt}"></td>
								<td th:text="${appsnaplistassemble.totalcnt}-${appsnaplistassemble.partcnt}"></td>
								<td th:text="${#dates.format(appsnaplistassemble.asignStarttime, 'yyyy-MM-dd HH:mm:ss')}"></td>
								<td th:text="${#dates.format(appsnaplistassemble.asignEndtime, 'yyyy-MM-dd HH:mm:ss')}"></td>
							</tr>
							</tbody>

						</table>
							<div class="conterIntro_bottom">
								<div id="pageNum" class="pageNum textRight"></div>
							</div>
					</div>
			</div>
				</div>

				</div>
		</div>
		
<!--footer-->
<div class="footer" th:replace="~{front/footer :: footer}"></div>
<div>
	<form name="listpage" id="listpage" method="post">
		<input type="hidden" name="pageNumKey" id="pageNumKey" th:value="${pageNum}">
		<input type="hidden" name="pageSizeKey" id="pageSizeKey" th:value="${pageSize}">
		<input type="hidden" name="syssceneid" id="pagesyssceneid" th:value="${syssceneid}">
	</form>
</div>

<script th:inline="javascript">
            /*<![CDATA[*/

			var totalRecords = [[${total}]];
			var page = [[${pageNum}]];
			var pageSize = [[${pageSize}]];
			var sysSceneid = [[sysSceneid]];
            /*]]>*/
</script>
<script th:src="@{/static/pface/js/layui/layui.js}"></script>
<script th:src="@{/static/pface/js/layui/lay.modules/laydate.js}"></script>
<script th:src="@{/static/pface/js/faceappsnaplistassemble.js}"></script>

<script th:inline="javascript">
	// var faceAppUsesceneAllList = [[${faceAppUsesceneAllList}]];
</script>

<script type='text/javascript' th:inline="javascript">
	layui.use(['table','form', 'laydate'], function(){
		var $ = layui.jquery
				,table = layui.table
				,form=layui.form
				,laydate = layui.laydate;
		//这里是查询操作
		$(document).on('click','#search',function(){
			$form = $("#search_form1");
			$form.submit();
		});

	});
</script>
</body>
</html>
