<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<!--<script type="text/javascript" src="https://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>-->
<script type="text/javascript" th:src="@{/static/js/jquery183.js}"></script>
<script th:src="@{/static/pface/js/jquery.msgbox.min.js}"></script>
<head>
	<meta charset="UTF-8">
	<meta name="context-path" th:content="@{/}"/>
	<link rel="stylesheet" th:href="@{/static/pface/js/layui/css/layui.css}">
	<link rel="stylesheet" th:href="@{/static/pface/css/common.css}">
	<link rel="stylesheet" th:href="@{/static/pface/css/manage.css}" />
	<title>节目购——转载标签管理</title>
	<script th:inline="javascript">
        var CONTEXT_PATH = [[${#request.getContextPath()}]];
	</script>
</head>
<body>
<!--导航-->
<div class="top clearfix" th:replace="~{front/header :: header}"></div>
<!--内容管理-->
<div class="container">
	<div class="wapper">
		<div class="m_conter clearfix hav_line">
			<div class="fl left_nav" th:replace="~{front/leftnav :: leftnav}"> </div>
			<!--右边-->
			<div class="fr right_conter" id="layerDemo">
				<div class="right_title">
					<div class="new_label fr">
						<button id="new_labelBtn" type="button" class="layui-btn layui-btn-danger btn-radius layui-edit"  data-method="setTop" onclick="newLabel()">新建标签</button>
					</div>
					<div class="colorblack manage_tit">
						<img th:src="@{/static/pface/img/tit_inco.png}"/>
						<span>转载标签管理</span>
					</div>
				</div>
				<div class="labelmg_main gsm_list">
					<ul class="layui-clear">
						<li th:each="label : ${labelList}">
							<div class="labelmg_Tit" th:text="${label.label}">
								转载标签1
							</div>
							<div class="labelmg_Date" th:text="${#dates.format(label.opDate,'yyyy-MM-dd HH:mm:ss')}">
								2019-05-01 13:10:10
							</div>
							<div class="layui-clear labelmg_opera">
								<a href="#" th:onclick="'javascript:delLab('+${label.id}+');'" class="fr delet_manage"><i class="layui-icon layui-icon-delete"></i>  删除</a>
								<a href="#" th:onclick="'javascript:editLabel('+${label.id}+');'" class="fl layui-edit" data-method="setTop"><i class="layui-icon layui-icon-edit"></i>  修改</a>
							</div>
						</li>

					</ul>

					<div id="pageNum" class="pageNum"></div>
				</div>
			</div>
		</div>
	</div>
</div>


<!--footer-->
<div class="footer" th:replace="~{front/footer :: footer}"> </div>

<!--这是点击修改和新增弹出窗口-->
<div class="newsedit" id="newsedit" style="display: none">
	<form id="publabForm" class="layui-form">
		<div class="layui-form-item newconter">
			<label class="layui-form-label">标题:</label>
			<div class="layui-input-block">
				<input name="label" id="label" class="layui-input" type="text"  autocomplete="off" lay-verify="required" lay-reqtext="请输入标题">
			</div>
		</div>
		<div class="layui-form-item newconter">
			<label class="layui-form-label">备注:</label>
			<div class="layui-input-block">
				<textarea name="labelDesc" id="labelDesc" class="layui-textarea" placeholder="请输入内容"></textarea>
			</div>
		</div>
        <input type="hidden" name="id" id="id" value="-1">
	</form>
</div>
<div>
    <form name="listpage" id="listpage" method="post">
		<input type="hidden" name="pageNumKey" id="pageNumKey" th:value="${pageNum}">
		<input type="hidden" name="pageSizeKey" id="pageSizeKey" th:value="${pageSize}">
    </form>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/

    var totalRecords = [[${total}]];
    var page = [[${pageNum}]];
    //console.log(totalRecords);

    /*]]>*/
</script>
<script th:src="@{/static/pface/js/layui/layui.js}"></script>
<script th:src="@{/static/pface/js/publabel.js}"></script>
</body>
</html>
