<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<script type="text/javascript" src="https://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="context-path" th:content="@{/}"/>
    <link rel="stylesheet" th:href="@{/static/pface/js/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/static/pface/css/common.css}">
    <link rel="stylesheet" th:href="@{/static/pface/css/upload.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/webuploader/css/webuploader.css}"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script th:inline="javascript">
        var CONTEXT_PATH = [[${#request.getContextPath()}]];
        console.log("CONTEXT_PATH = " + CONTEXT_PATH);
    </script>
    <title>节目购——文件上传</title>
</head>
<body>
<!--导航-->
<div class="top clearfix" th:replace="~{front/header :: header}"></div>
<!--引入JS-->
<script src="http://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/static/webuploader/js/webuploader.js}"></script>
<!--内容管理-->
<div class="container">
    <div class="wapper">
        <div class="m_conter clearfix hav_line">
            <div class="fl left_nav" th:replace="~{front/leftnav :: leftnav}"></div>
            <!--右边-->
            <div class="fr right_conter">
                <div class="layui-tab upload_tab" lay-filter="upMedia">
                    <ul class="layui-tab-title">
                        <li class="layui-this">音频内容</li>
                    </ul>
                    <div class="layui-tab-content upload_main">

                        <div class="layui-tab-item layui-show">
                            <!--<form class="layui-form formUp" action="">-->
                                <p class="fontred"><img th:src="@{/static/pface/img/tips.png}"/> 禁止发布的音频内容 ：有版权问题的音频</p>
                                <div class="upload_list">
                                    <div class="colorblack upload_Tit">
                                        <img th:src="@{/static/pface/img/tit_inco.png}"/>
                                        <span>音频上传</span>
                                        <label>（单次最多允许上传100p音频，推荐采用mp3格式）</label>
                                    </div>
                                    <div class="clearfix upload_btnPr">
                                        <!--<div class="fl">
                                            <button id="audioUp" type="button"
                                                    class="layui-btn layui-btn-danger btn-radius"
                                                    onclick="getElementById('audioId').click()">选择音频
                                            </button>
                                            <input type="file" name="image" class="fileInput" data-type="video"
                                                   id="audioId" style="display:none ;" lay-verify="required"
                                                   lay-reqtext="请上传音频"/>-->
                                            <div class="clearfix layui-form">
                                                <div class="fl">
                                                    <div id="audioUp">选择音频</div>
                                                </div>
                                            </div>
                                            <div id="thelistAudio" class="upload_filename fl"></div>
                                        <!--</div>-->
                                        <!--<div class="upload_filename fl"></div>-->
                                    </div>
                                </div>
                                <div class="upload_list">
                                    <div class="colorblack upload_Tit">
                                        <img th:src="@{/static/pface/img/tit_inco.png}"/>
                                        <span>基本信息</span>
                                    </div>
                                    <div class="upload_inform">
                                        <div class="uplInf_list">
                                            <div class="clearfix layui-form">
                                                <div id="audioUpCover" class="pt-1">选择封面</div>
                                            </div>
                                            <div id="thelistAudioCover" class="coverImgMain"></div>
                                        </div>
                                        <div class="uplInf_list">
                                            <h4 class="layui-inline uplInf_tit"><em>*</em> 类型 </h4>
                                            <div class="layui-input-inline">
                                                <select id="audio_catalogueId" name="modules">
                                                    <option value="">请选择</option>
                                                    <option th:each="cata:${cataloguesLabels}" th:value="${cata.id}"
                                                            th:text="${cata.name}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="uplInf_list">
                                            <h4 class="uplInf_tit"><em>*</em> 归属标签 <span> （可自行进行定义，<a th:href="@{/front/attribution}" class="red_link">现在去自定义</a>） </span>
                                            </h4>
                                            <div class="ptd-1 pl-1 upload_checked">
                                                <div class="layui-form">
                                                    <input id="audio_belongLabelid" type="checkbox"
                                                           name="audio_belongLabelname" lay-skin="primary"
                                                           th:each="belong:${belongLabels}" th:title="${belong.label}"
                                                           th:value="${belong.id}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uplInf_list">
                                            <h4 class="layui-inline uplInf_tit"><em>*</em> 标题 </h4>
                                            <div class="ptd-1 pl-1">
                                                <input id="audio_mediaTitle" name="title" th:value="${media.mediaTitle}" class="layui-input" type="text"
                                                       placeholder="请输入标题" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="uplInf_list">
                                            <h4 class="layui-inline uplInf_tit"><em>*</em> 关键词 </h4>
                                            <div class="ptd-1 pl-1">
                                                <input id="audio_mediaKeyword" name="title" th:value="${media.mediaKeyword}" class="layui-input" type="text"
                                                       placeholder="请输入关键词" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="uplInf_list">
                                            <h4 class="layui-inline uplInf_tit"><em>*</em> 简介 </h4>
                                            <div class="ptd-1 pl-1">
                                                <textarea id="audio_mediaBrief" th:value="${media.mediaBrief}" class="layui-textarea" placeholder="请输入内容"></textarea>
                                            </div>
                                        </div>
                                        <div class="uplInf_list">
                                            <h4 class="layui-inline  uplInf_tit"><em>*</em> 价格 <span> （请先进行定义，<a
                                                    th:href="@{/front/price}" class="red_link">现在去自定义</a>） </span></h4>
                                            <div class="layui-input-inline">
                                                <select id="audio_priceLabelid" name="modules" lay-search="">
                                                    <option value="">请选择</option>
                                                    <option th:each="price:${pricesLabels}" th:value="${price.id}"
                                                            th:text="${price.label}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="uplInf_list">
                                            <h4 class="uplInf_tit"><em>*</em> 转载内容设置 <span> （转载内容将限制通过审核，请知晓！若为转载内容请先定义出自，<a
                                                    th:href="@{/front/publab}" class="red_link">现在去自定义</a>） </span></h4>
                                            <div class="layui-input-inline pt-1">
                                                <select id="audio_publishLabelid" name="modules" lay-search="">
                                                    <option value="">请选择</option>
                                                    <option th:each="publish:${publishLabels}" th:value="${publish.id}"
                                                            th:text="${publish.label}">layer
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="textCenter upload_btnbt">
                                    <div class="layui-form upload_agree">
                                        <input type="checkbox" id="audio_read" lay-skin="primary"
                                               title="我已阅读并同意遵守 《版权服务规则协议》">
                                    </div>
                                    <div class="">
                                        <button  lay-filter="upload_save" id="saveAudio" class="layui-btn layui-btn-warm btn-radius btn_min">保存
                                        </button>
                                    </div>
                                </div>
                            <!--</form>-->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--footer-->
<!--footer-->
<div class="footer" th:replace="~{front/footer :: footer}"></div>
<!--弹出窗口，弹出文件正在上传-->
<div class="blackBgfixed" style="display: none">
    <div class="theHeadUp textCenter whiteBg">
        <img class="uplogo" th:src="@{/static/pface/img/certifica_logo.png}"/>
        <form class="layui-form">
            <div class="upW_process">
                <div class="layui-progress layui-progress-big" lay-showpercent="true">
                    <div class="layui-progress-bar" lay-percent="50%"></div>
                </div>
            </div>
        </form>
        <div class="pt-3 textCenter tipsUp">
            请勿关闭<br/>
            正在上传文件.......
        </div>
    </div>
</div>

<!--弹出窗口，弹出文件正在上传-->
<div id="videoProgress" class="blackBgfixed videoAudioBg" style="display: none;">
    <div class="theHeadUp textCenter whiteBg bigFileW">
        <img class="uplogo maxlogo" th:src="@{/static/pface/img/certifica_logo.png}"/>
        <form class="layui-form">
            <div class="pt-1 textCenter tipsUp tipsLoading" id="videoLoading">
                正在上传文件，请勿关闭网页...
            </div>
            <div id="upW_processtest"></div>
            <div class="pt-1 textCenter tipsUp tipsfinish" id="videoFinish" style="display: none;">
                上传完成... <br/>
                <button class="layui-btn layui-btn-warm btn-radius btn_min closeBlack">关闭</button>
            </div>

        </form>
    </div>
</div>
<!--弹出窗口，弹出文件正在上传-->
<!--
<div class="blackBgfixed fileUpBg" style="display: none;">
    <div class="theHeadUp textCenter whiteBg">
        <img class="uplogo" th:src="@{/static/pface/img/certifica_logo.png}"/>
        <form class="layui-form">
            <div class="upW_process">
                <div class="layui-progress layui-progress-big" lay-showpercent="true">
                    <div class="layui-progress-bar" lay-percent="50%"></div>
                </div>
            </div>
        </form>
        <div class="pt-3 textCenter tipsUp filebegin">
            请勿关闭<br/>正在上传文件.......
        </div>
        <div class="pt-1 textCenter tipsUp filefinish" style="display: none;">
            上传完成... <br/>
            <button class="layui-btn layui-btn-warm btn-radius btn_min closeBlack">关闭</button>
        </div>
    </div>
</div>
-->

<script th:src="@{/static/pface/js/layui/layui.js}"></script>

<script>
    $(function(){
        //上传文件js
        $('.fileInput').change(function(e){
            var $file = $(this);
            var fileObj = $file[0];
            var fileType=$file.attr("date-type");
            //console.log(e.currentTarget.files[0].name);
            var emText=$(this).parents(".upload_btnPr").children(".upload_filename");
            if(fileObj && fileObj.files && fileObj.files[0]){
                emText.text("已选择文件，文件名："+e.currentTarget.files[0].name);
            }else{
                var filename=$file.val();
                var pos=filename.lastIndexOf("\\");
                var strFileName=filename.substring(pos+1);
                emText.text("已选择文件，文件名："+strFileName);
            };

        });
        var dataURL;
        //多图上传
        $("#manyPicInput").change(function() {
            var $file = $(this);
            var fileObj = $file[0];
            var windowURL = window.URL || window.webkitURL;
            if(fileObj && fileObj.files && fileObj.files[0]){
                dataURL = windowURL.createObjectURL(fileObj.files[0]);
                var html='<li class="fl manyPicadd">'+
                    '<img src="'+dataURL+'"/>'+
                    '<div class="manyPicDele"><i class="layui-icon layui-icon-delete"></i></div>'+
                    '</li>';
                $(".manyPicList").append(html)
            }else{
                dataURL = $file.val();
                var html='<li class="fl manyPicadd">'+
                    '<img style="filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='+dataURL+',sizingMethod=scale)"/>'+
                    '<div class="manyPicDele"><i class="layui-icon layui-icon-delete"></i></div>'+
                    '</li>';
                $(".manyPicList").append(html)
                //imgObj.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = dataURL;
            }
        });
        //删除上传多图的单张
        $("body").on("click",".manyPicDele",function(){
            if(confirm('确定要删除此项吗?'))
            {
                $(this).parents("li").remove();
            }
            return false;
        })
        //上传封面js
        $(".coverImg").change(function() {
            var $imgbody=$(this).parents(".upload_img").siblings(".coverImgMain");
            var imgsrc=$imgbody.children("img");
            var name=$(this).attr("data-name");
            $imgbody.hide();
            imgsrc.attr("src","");
            var $file = $(this);
            var fileObj = $file[0];
            var windowURL = window.URL || window.webkitURL;
            if(fileObj && fileObj.files && fileObj.files[0]){
                dataURL = windowURL.createObjectURL(fileObj.files[0]);
                imgsrc.attr('src',dataURL);
            }else{
                dataURL = $file.val();
                var imgObj;
                if(name=="video"){
                    imgObj=document.getElementById("videoPicShow");
                }else if(name=="audio"){
                    imgObj=document.getElementById("audioPicShow");
                }else{
                    imgObj=document.getElementById("filePicShow");
                }
                imgObj.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                imgObj.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = dataURL;
            }
            $imgbody.show();
            // $(".phone_tipsTxt").html("已选择图片");
        });
        //点击完成按钮
        $('.btnSave').click(function () {
            var type=$(this).attr("data-type");
            if(type=="video"){ //视频
                $(".videoAudioBg").show();
                $(".upcl").html("视频处理：");
                $(".uptext").html("视频上传：");
            }else if(type=="audio"){ //音频
                $(".videoAudioBg").show();
                $(".upcl").html("音频处理：");
                $(".uptext").html("音频上传：");
            }else{
                //文件上传
                //$(".fileUpBg").show();
            }
        });

        $('#saveImageText').click(function () {
            var fd = new FormData();
            fd.append("imageTextTitle", "bill");
            fd.append("imageTextFile", $('#imageTextFile')[0].files[0]);
            $.ajax({
                url: CONTEXT_PATH + '/front/imageText/submit',
                type: 'post',
                processData: false,
                contentType: false,
                data: fd,
                success: function () {
                    alert("ok")
                }
            })
        });
    })
    layui.use(['element', 'upload', 'form', 'layer'], function () {
        var $ = layui.jquery,
            element = layui.element,//导航的hover效果、二级菜单等功能，需要依赖element模块
            form = layui.form
            // layer=layui.layer
        ;
        //监听导航点击
        element.on('nav(demo)', function (elem) {
            console.log('nav(demo)___elem ==' + elem);
            layer.msg(elem.text());
        });
        element.on('tab(upMedia)', function(elem){
            console.log(elem);
            var files = uploaderVideo.getFiles();
            console.dir("点击tab前--------" + uploaderVideo.getFiles().length);
            for (var i = 0; i < files.length; i++) {
                uploaderVideo.removeFile(files[i], true);
            }
            console.dir("点击tab后--------"  + uploaderVideo.getFiles().length);
        });
        //视频上传封面单选
        form.on("radio(uploadImg)", function (data) {
            if (this.value == '0') {
                //这是选中了自动选择封面
                $("#videoUpCover").show();
            } else if (this.value == '1') {
                $("#videoUpCover").hide();
                var fileid = $(".file-item").attr("id");
                console.log('fileid = ' + fileid);
                if (fileid != undefined) {
                    var ff = uploaderVideo.getFile(fileid);
                    console.dir("11--------" + uploaderVideo.getFiles().length);
                    uploaderVideo.removeFile(ff, true);
                    console.dir("22--------" + uploaderVideo.getFiles().length);
                }

                $(".file-item").remove();

            }
        });

    });

    function getCheckboxCheckedValues(ckname) {
        var type = '';
        $('input[type=checkbox][name="'+ckname+'"]').each(function(){
            if ($(this).prop("checked")) {
                type += $(this).val() + ',';
            }
        });
        if (type!=''){
            type = type.substring(0,type.length - 1);
        }
        return type;
    }

    function getRadioCheckValue(raName) {
        return $("input[name='"+raName+"']:checked").val();
    }

    function myalert(msg) {
        layer.msg(msg, {
            time: 2000, //2s后自动关闭
            icon: 5,
            anim: 6
        });
    }

    var chunkSize = 10485760;
    var mediaId = -1;
    var uploaded = false;

    /////////////video & audio start//////////////////

    var $saveVideo = $('#saveVideo');
    var $saveAudio = $('#saveAudio');
    var $saveImageText = $('#saveImageText');

    var $thelistVideo = $('#thelistVideo');
    var $thelistVideoCover = $('#thelistVideoCover');

    var $thelistAudio = $('#thelistAudio');
    var $thelistAudioCover = $('#thelistAudioCover');

    var $thelistImageText= $('#thelistImageText');
    var $thelistImageTextCover = $('#thelistImageTextCover');

    // HOOK 这个必须要再uploader实例化前面
    WebUploader.Uploader.register({
        'before-send-file': 'beforeSendFile',
        'before-send': 'beforeSend'
    }, {
        beforeSendFile: function (file) {
            console.log("beforeSendFile");
            // Deferred对象在钩子回掉函数中经常要用到，用来处理需要等待的异步操作。
            var task = new $.Deferred();
            // 根据文件内容来查询MD5
            uploaderVideo.md5File(file).progress(function (percentage) {
                // 及时显示进度
                console.log('计算md5进度:', percentage);
                getProgressBar(file, percentage, "MD5", "MD5");
            }).then(function (val) { // 完成
                console.log('md5 result:', val);
                file.md5 = val;
                // 模拟用户id
                // file.uid = new Date().getTime() + "_" + Math.random() * 100;
                file.uid = WebUploader.Base.guid();
                // 进行md5判断
                $.post(CONTEXT_PATH + "/front/file/checkFileMd5", {uid: file.uid, md5: file.md5},
                    function (data) {
                        console.log(data.status);
                        var status = data.status.value;
                        task.resolve();
                        if (status == 101) {
                            // 文件不存在，那就正常流程
                        } else if (status == 100) {
                            // 忽略上传过程，直接标识上传成功；
                            uploaderVideo.skipFile(file);
                            file.pass = true;
                        } else if (status == 102) {
                            // 部分已经上传到服务器了，但是差几个模块。
                            file.missChunks = data.data;
                        }
                    });
            });
            return $.when(task);
        },
        beforeSend: function (block) {
            console.log("block")
            var task = new $.Deferred();
            var file = block.file;
            var missChunks = file.missChunks;
            var blockChunk = block.chunk;
            console.log("当前分块：" + blockChunk);
            console.log("missChunks:" + missChunks);
            if (missChunks !== null && missChunks !== undefined && missChunks !== '') {
                var flag = true;
                for (var i = 0; i < missChunks.length; i++) {
                    if (blockChunk == missChunks[i]) {
                        console.log(file.name + ":" + blockChunk + ":还没上传，现在上传去吧。");
                        flag = false;
                        break;
                    }
                }
                if (flag) {
                    task.reject();
                } else {
                    task.resolve();
                }
            } else {
                task.resolve();
            }
            return $.when(task);
        }
    });

    // 实例化视频上传
    var upladerVideoOptions = {
        pick: {
            id: '#videoUp',
            innerHTML: '选择视频',
            multiple: false  //一次点击选择文件的按钮，是否开起同时选择多个文件能力,默认：true
        },
        formData: {
            uid: 0,
            md5: '',
            chunkSize: chunkSize
            // ,uploaded: uploaded,
            // mediaId : mediaId
        },
        //dnd: '#dndArea',
        //paste: '#uploaderVideo',
        swf: 'js/Uploader.swf',
        chunked: true,
        chunkSize: chunkSize, // 字节 1M分块
        threads: 1, //pchj update， old:  threads: 3,
        server: CONTEXT_PATH + '/front/file/fileUpload',
        auto: false,

        // 禁掉全局的拖拽功能。这样不会出现图片拖进页面的时候，把图片打开。
        disableGlobalDnd: true,
        fileNumLimit: 4,
        fileSizeLimit: 1024 * 1024 * 1024 * 1024,    //  1G = 1024 * 1024 * 1024 总文件大小允许最大1T
        fileSingleSizeLimit: 1024 * 1024 * 1024 * 10   // 10G  //单文件大小允许最大10G
        // ,accept: {
        // 	title: 'audio',
        // 	extensions: 'mp3',
        // 	mimeTypes: 'audio/mp3'
        // }

        // 只允许选择图片文件。
        // , accept: {
        //     title: '视频和图片',
        //     extensions: 'jpg,jpeg,png,mp4,ts,flv,JPG,JPEG,PNG,MP4,TS,FLV'
        //     , mimeTypes: 'iimage/jpg,image/jpeg,image/png,video/mp4,video/ts,video/flv'
        // }
    };

    //视频文件上传格式限制为mp4,ts,flv
    //音频文件上传格式限制为mp3\mp2\wav\aac\ac3\flac\ape\mpa\m4a\ogg
    //封面：jpg,jpeg,png

    var uploaderVideo = WebUploader.create(upladerVideoOptions);

    uploaderVideo.addButton({
        id: '#videoUpCover',
        innerHTML: '选择封面'
    });
    //音频
    uploaderVideo.addButton({
        id: '#audioUp',
        innerHTML: '选择音频'
    });
    uploaderVideo.addButton({
        id: '#audioUpCover',
        innerHTML: '选择封面'
    });

    uploaderVideo.on('beforeFileQueued', function (file) {
        console.log('beforeFileQueued() in ');
        file._refer = file.source._refer;
        $btnn = $(file._refer);
        var btnId = $btnn.attr('id');
        var fileext = file.ext;
        fileext = fileext.toLowerCase();

        console.log('btnId = ' + btnId);
        console.log('file ext = ' + file.ext);

        if (btnId == 'videoUpCover') {
            //控制添加文件操作的顺序，以控制文件队列中的顺序
            var currFiles = uploaderVideo.getFiles();
            if (currFiles.length <= 0) {
                myalert('请先添加视频文件');
                return false;
            }

            //控制文件的格式
            if (fileext != 'jpg' && fileext != 'jpeg' && fileext != 'png') {
                myalert('要求文件格式：jpg 或 jpeg 或 png');
                return false;  //阻止添加到文件队列
            }

            //控制文件的数量，只能选1个更名
            var flag = false; //是否有封面文件加入队列
            for (var i = 0; i < currFiles.length; i++) {
                var f = currFiles[i];
                var ext = f.ext.toLowerCase();
                if (ext == 'jpg' || ext == 'jpeg' || ext == 'png') {
                    myalert('只能添加一个封面文件');
                    flag = true;
                    break;
                }
            }
            if (flag) {
                return false;
            }
        } else if (btnId == 'videoUp') {
            if (fileext != 'mp4' && fileext!='ts' && fileext!='flv') {
                myalert('要求文件格式：mp4,ts,flv');
                return false;
            }
            var currFiles = uploaderVideo.getFiles();
            var flag = false; //是否有mp4文件加入队列
            for (var i = 0; i < currFiles.length; i++) {
                f = currFiles[i];
                if (f.ext.toLowerCase() == 'mp4' || f.ext.toLowerCase() == 'ts' || f.ext.toLowerCase() == 'flv') {
                    myalert('只能添加一个视频文件');
                    flag = true;
                    break;
                }
            }

            if (flag) {
                return false;
            }
        }else if (btnId == 'audioUp'){
            //控制文件的格式 mp3\mp2\wav\aac\ac3\flac\ape\mpa\m4a\ogg
            if (fileext != 'mp3' && fileext != 'mp2'  && fileext != 'wav'&& fileext != 'aac' &&
                fileext != 'ac3' && fileext != 'flac' && fileext != 'ape' &&
                fileext != 'mpa' && fileext != 'm4a' && fileext != 'ogg') {
                myalert('要求文件格式：mp3|mp2|wav|aac|ac3|flac|ape|mpa|m4a|ogg');
                return false;
            }
            var currFiles = uploaderVideo.getFiles();
            var flag = false; //是否有mp4文件加入队列
            for (var i = 0; i < currFiles.length; i++) {
                f = currFiles[i];
                var tempext = f.ext.toLocaleString();
                if (fileext == 'mp3' || fileext == 'mp2'  || fileext == 'wav' || fileext == 'aac' ||
                    fileext == 'ac3' || fileext == 'flac' || fileext == 'ape' ||
                    fileext == 'mpa' || fileext == 'm4a'  || fileext == 'ogg') {
                    myalert('只能添加一个音频文件');
                    flag = true;
                    break;
                }
            }
            if (flag) {
                return false;
            }
        } else if (btnId == 'audioUpCover') {

            //控制添加文件操作的顺序，以控制文件队列中的顺序
            var currFiles = uploaderVideo.getFiles();
            if (currFiles.length <= 0) {
                myalert('请先添加音频文件');
                return false;
            }

            //控制文件的格式
            if (fileext != 'jpg' && fileext != 'jpeg' && fileext != 'png') {
                myalert('要求文件格式：jpg 或 jpeg 或 png');
                return false;  //阻止添加到文件队列
            }

            //控制文件的数量，只能选1个更名
            var flag = false; //是否有封面文件加入队列
            for (var i = 0; i < currFiles.length; i++) {
                var f = currFiles[i];
                var ext = f.ext.toLowerCase();
                if (ext == 'jpg' || ext == 'jpeg' || ext == 'png') {
                    myalert('只能添加一个封面文件');
                    flag = true;
                    break;
                }
            }
            if (flag) {
                return false;
            }
        } else if (btnId == 'imageTextUp'){
            //控制文件的格式 doc，docx，wps
            if (fileext != 'doc' && fileext != 'docx'  && fileext != 'wps') {
                myalert('要求文件格式：doc|docx|wps');
                return false;
            }
            var currFiles = uploaderVideo.getFiles();
        } else if (btnId == 'imageTextUpCover') {
            console.log('uuuuu')
            //控制添加文件操作的顺序，以控制文件队列中的顺序
            var currFiles = uploaderVideo.getFiles();
            if (currFiles.length <= 0) {
                myalert('请先添加文件');
                return false;
            }

            //控制文件的格式
            if (fileext != 'jpg' && fileext != 'jpeg' && fileext != 'png') {
                myalert('要求文件格式：jpg 或 jpeg 或 png');
                return false;  //阻止添加到文件队列
            }

            //控制文件的数量，只能选1个更名
            var flag = false; //是否有封面文件加入队列
            for (var i = 0; i < currFiles.length; i++) {
                var f = currFiles[i];
                var ext = f.ext.toLowerCase();
                if (ext == 'jpg' || ext == 'jpeg' || ext == 'png') {
                    myalert('只能添加一个封面文件');
                    flag = true;
                    break;
                }
            }
            if (flag) {
                return false;
            }
        }
    });

    // 当有文件被添加进队列的时候
    uploaderVideo.on('fileQueued', function (file) {
        console.log("fileQueued() in ");

        $btnn = $(file._refer);

        var btnId = $btnn.attr('id');
        console.log("btnId =  " +btnId);
        // debugger;
        if (btnId == 'videoUpCover') {  //点击了选择封面的按钮
            $thelistVideoCover.append('<div id="' + file.id + '" class="item">' +
                '<h4 class="info">文件名：' + file.name + '</h4>' +
                '<p class="state">状态：等待上传...</p>' +
                '</div>');
            previewImage(file, $thelistVideoCover, uploaderVideo);
        } else if (btnId == 'videoUp') {
            $thelistVideo.append('<div id="' + file.id + '" class="item">' +
                '<h4 class="info">文件名：' + file.name + '</h4>' +
                '<p class="state">状态：等待上传...</p>' +
                '</div>');
        }else if (btnId == 'audioUp'){
            $thelistAudio.append('<div id="' + file.id + '" class="item">' +
                '<h4 class="info">文件名：' + file.name + '</h4>' +
                '<p class="state">状态：等待上传...</p>' +
                '</div>');
        } else if (btnId == 'audioUpCover') {
            console.log("a");
            $thelistAudioCover.append('<div id="' + file.id + '" class="item">' +
                '<h4 class="info">文件名：' + file.name + '</h4>' +
                '<p class="state">状态：等待上传...</p>' +
                '</div>');

            previewImage(file, $thelistAudioCover, uploaderVideo);
        } else if (btnId == 'imageTextUp'){
            console.log('-----')
            $thelistImageText.append('<div id="' + file.id + '" class="item">' +
                '<h4 class="info">文件名：' + file.name + '</h4>' +
                '<p class="state">状态：等待上传...</p>' +
                '</div>');
        } else if (btnId == 'imageTextUpCover') {
            console.log('eiie')
            $thelistImageTextCover.append('<div id="' + file.id + '" class="item">' +
                '<h4 class="info">文件名：' + file.name + '</h4>' +
                '<p class="state">状态：等待上传...</p>' +
                '</div>');

            previewImage(file, $thelistImageTextCover, uploaderVideo);
        }
    });

    /**
     * 图片预览,可以公用
     **/
    function previewImage(file, thelist, p_uploader) {
        var $li = $(
            '<div id="' + file.id + '" class="file-item thumbnail">' +
            '<img>' +
            // '<div class="info">' + file.name + '</div>' +
            '</div>'
            ),
            $img = $li.find('img');
        // $thelist为容器jQuery实例
        thelist.append($li);
        var thumbnailWidth = 100;
        var thumbnailHeight = 100;

        p_uploader.makeThumb(file, function (error, src) {
            if (error) {
                // $img.replaceWith('<span>不能预览</span>');
                return;
            }

            $img.attr('src', src);
        }, thumbnailWidth, thumbnailHeight);
    }

    //当某个文件的分块在发送前触发，主要用来询问是否要添加附带参数，大文件在开起分片上传的前提下此事件可能会触发多次。
    uploaderVideo.onUploadBeforeSend = function (obj, data) {
        console.log("onUploadBeforeSend");
        var file = obj.file;
        data.md5 = file.md5 || '';
        data.uid = file.uid;
        debugger;
        if (mediaId == undefined){
            mediaId = window.sessionStorage.getItem("mediaId");
        }
        data.mediaId = mediaId;
        data.uploaded = uploaded;
        var mediaType = getMediaType();
        if (mediaType == 'video') {
            console.log('data.mediaId = '+data.mediaId);
            data.mediaType = mediaType;
            //封面来源，单选
            var video_coverOrigin_value = getRadioCheckValue('video_coverOrigin');
            //勾选的归属ids，多选
            var belongIds = getCheckboxCheckedValues('video_belongLabelname');
            //视频基本字段
            data.mediaTitle=$("#video_mediaTitle").val();
            data.catalogueId=$("#video_catalogueId").find("option:selected").val();
            data.mediaKeyword=$("#video_mediaKeyword").val();
            data.belongLabelid = belongIds;
            data.priceLabelid=$("#video_priceLabelid").find("option:selected").val();
            data.publishLabelid=$("#video_publishLabelid").find("option:selected").val();
            data.coverOrigin=video_coverOrigin_value;
            data.mediaBrief=$("#video_mediaBrief").val();
        }else if (mediaType == 'audio') {
            data.mediaType = mediaType;
            //勾选的归属ids，多选
            var belongIds = getCheckboxCheckedValues('audio_belongLabelname');
            //视频基本字段
            data.mediaTitle=$("#audio_mediaTitle").val();
            data.catalogueId=$("#audio_catalogueId").find("option:selected").val();
            data.mediaKeyword=$("#audio_mediaKeyword").val();
            data.belongLabelid = belongIds;
            data.priceLabelid=$("#audio_priceLabelid").find("option:selected").val();
            data.publishLabelid=$("#audio_publishLabelid").find("option:selected").val();
            data.coverOrigin='0'; //上传的
            data.mediaBrief=$("#audio_mediaBrief").val();
        }
    };

    function getMediaType(){
        var files = uploaderVideo.getFiles();
        for (var i = 0; i < files.length; i++) {
            var ffff =files[i];
            var fileext = ffff.ext.toLowerCase();
            if (fileext == 'mp3' || fileext == 'mp2'  || fileext == 'wav' || fileext == 'aac' ||
                fileext == 'ac3' || fileext == 'flac' || fileext == 'ape' ||
                fileext == 'mpa' || fileext == 'm4a'  || fileext == 'ogg') {
                return "audio";
            }else  if (fileext == 'mp4' || fileext == 'ts' || fileext == 'flv') {
                return "video";
            } else {
                return "-1";
            }
        }
    }

    // 上传中
    uploaderVideo.on('uploadProgress', function (file, percentage) {
        console.log('uploadProgress() 2file._refer = ' + file._refer);
        $btnn = $(file._refer);
        var id = $btnn.attr("id");  //知道点击了哪个上传文件的按钮
        console.log("id = " + id);

        getProgressBar(file, percentage, "FILE", "上传进度");
    });
    // 上传返回结果
    uploaderVideo.on('uploadSuccess', function (file, response) {
        var text = '已上传';
        if (file.pass) {
            text = "文件妙传功能，文件已上传。"
        }
        console.log('uploadSuccess file: ' + file.name);
        console.log('response.data.mediaId = ' + response.data.mediaId);

        //成功一个上传，更新状态
        uploaded = true;
        mediaId = response.data.mediaId;
        window.sessionStorage.setItem("mediaId", response.data.mediaId);

        $('#' + file.id).find('p.state').text(text);
    });

    uploaderVideo.on('uploadError', function (file) {
        // uploaded = false;
        // mediaId = -1;
        $('#' + file.id).find('p.state').text('上传出错');
    });

    uploaderVideo.on('uploadComplete', function (file) {
        // 隐藏进度条
        // fadeOutProgress(file, 'MD5');
        // fadeOutProgress(file, 'FILE');
        // uploaded = false;
        // mediaId = -1;
        $("#videoFinish").show();
        $("#videoLoading").fadeOut();
    });

    //提交校验--视频
    function validateVideoPost() {

        //封面来源，单选
        var video_coverOrigin_value = getRadioCheckValue('video_coverOrigin');
        debugger;
        var currFile = uploaderVideo.getFiles();
        if (video_coverOrigin_value == '0' && currFile.length < 2) {
            myalert('请选择封面文件');
            return false;
        }

        var catalogumediaKeywordeId = $("#video_catalogueId").find("option:selected").val();
        if (catalogumediaKeywordeId == '') {
            myalert('请选择类型');
            return false;
        }

        //勾选的归属ids，多选
        var belongIds = getCheckboxCheckedValues('video_belongLabelname');
        if (belongIds == '') {
            myalert('请选择归属标签');
            return false;
        }

        //标题
        var mediaTitle = $.trim($("#video_mediaTitle").val());
        if (mediaTitle == '') {
            myalert('请输入标题');
            return false;
        }
        //关键字
        var video_mediaKeyword = $.trim($("#video_mediaKeyword").val());
        if (video_mediaKeyword == '') {
            myalert('请输入关键字');
            return false;
        }

        //简介
        var mediaBrief = $.trim($("#video_mediaBrief").val());
        if (mediaBrief == '') {
            myalert('请输入简介');
            return false;
        }

        //价格
        var priceLabelid = $("#video_priceLabelid").find("option:selected").val();
        if (priceLabelid == '') {
            myalert('请选择价格');
            return false;
        }
        if (!$('#video_read').is(':checked')) {
            myalert('必须同意《版权服务规则协议》');
            return false;
        }

        return true;
    }


    //提交校验--音频--TODO
    function validateAudioPost() {

        var catalogumediaKeywordeId = $("#audio_catalogueId").find("option:selected").val();
        if (catalogumediaKeywordeId == '') {
            myalert('请选择类型');
            return false;
        }

        //勾选的归属ids，多选
        var belongIds = getCheckboxCheckedValues('audio_belongLabelname');
        if (belongIds == '') {
            myalert('请选择归属标签');
            return false;
        }

        //标题
        var mediaTitle = $.trim($("#audio_mediaTitle").val());
        if (mediaTitle == '') {
            myalert('请输入标题');
            return false;
        }
        //关键字
        var audio_mediaKeyword = $.trim($("#audio_mediaKeyword").val());
        if (audio_mediaKeyword == '') {
            myalert('请输入关键字');
            return false;
        }

        //简介
        var mediaBrief = $.trim($("#audio_mediaBrief").val());
        if (mediaBrief == '') {
            myalert('请输入简介');
            return false;
        }

        //价格
        var priceLabelid = $("#audio_priceLabelid").find("option:selected").val();
        if (priceLabelid == '') {
            myalert('请选择价格');
            return false;
        }
        if (!$('#audio_read').is(':checked')) {
            myalert('必须同意《版权服务规则协议》');
            return false;
        }

        return true;
    }

    //提交校验--文件
    function validateImageTextPost() {
        return true;
        var catalogumediaKeywordeId = $("#imageText_catalogueId").find("option:selected").val();
        if (catalogumediaKeywordeId == '') {
            myalert('请选择类型');
            return false;
        }

        //勾选的归属ids，多选
        var belongIds = getCheckboxCheckedValues('imageTextBelongLabelName');
        if (belongIds == '') {
            myalert('请选择归属标签');
            return false;
        }

        //标题
        var mediaTitle = $.trim($("#imageText_mediaTitle").val());
        if (mediaTitle == '') {
            myalert('请输入标题');
            return false;
        }
        //关键字
        var audio_mediaKeyword = $.trim($("#imageText_mediaKeyword").val());
        if (audio_mediaKeyword == '') {
            myalert('请输入关键字');
            return false;
        }

        //简介
        var mediaBrief = $.trim($("#imageText_mediaBrief").val());
        if (mediaBrief == '') {
            myalert('请输入简介');
            return false;
        }

        //价格
        var priceLabelid = $("#imageText_priceLabelid").find("option:selected").val();
        if (priceLabelid == '') {
            myalert('请选择价格');
            return false;
        }

        //转载
        var publishLabelid = $("#imageText_publishLabelid").find("option:selected").val();
        if (publishLabelid == '') {
            myalert('请选择转载内容');
            return false;
        }

        if (!$('#imageText_read').is(':checked')) {
            myalert('必须同意《版权服务规则协议》');
            return false;
        }

        return true;
    }


    // 文件上传 -- 视频
    $saveVideo.on('click', function () {
        // var jyFlag = true;

        var jyFlag = validateVideoPost();
        var files = uploaderVideo.getFiles();
        if (files.length <=0){
            myalert('请先选择文件。');
            return false;
        }
        console.log(files);
        if (jyFlag) {
            $("#videoProgress").show();
            console.log("上传...");
            uploaderVideo.upload();
            console.log("上传成功");
        }
    });

    // 文件上传--音频
    $saveAudio.on('click', function () {

        // var jyFlag = true;
        // debugger;
        var jyFlag = validateAudioPost();
        var files = uploaderVideo.getFiles();
        console.log(files);
        if (files.length <=0){
            myalert('请先选择文件。');
            return false;
        }
        if (jyFlag) {
            $("#videoProgress").show();
            console.log("上传...");
            uploaderVideo.upload();
            console.log("上传成功");
        }
    });

    /**
     *  生成进度条封装方法
     * @param file 文件
     * @param percentage 进度值
     * @param id_Prefix id前缀
     * @param titleName 标题名
     */
    function getProgressBar(file, percentage, id_Prefix, titleName) {

        //var $li = $('#' + file.id), $percent = $li.find('#' + id_Prefix + '-progress-bar');
        var $li = $('#upW_processtest'), $percent = $li.find('#' + id_Prefix + '-progress-bar');
        if (titleName == "MD5") {
            titleName = "预处理"
        } else {
            titleName = titleName;
        }
        ;
        // 避免重复创建
        if (!$percent.length) {
            $percent = $('<div id="' + id_Prefix + '-progress" class="progress progress-striped active" style="width:320px; margin-left:auto; margin-right:auto">' +
                '<div id="' + id_Prefix + '-progress-bar" class="progress-bar" role="progressbar" style="width: 0%">' +
                '</div>' +
                '</div>'
            ).appendTo($li).find('#' + id_Prefix + '-progress-bar');
        }
        var progressPercentage = percentage * 100 + '%';
        $percent.css('width', progressPercentage);
        $percent.html(titleName + ':' + progressPercentage);
    }

    /**
     * 隐藏进度条
     * @param file 文件对象
     * @param id_Prefix id前缀
     */
    function fadeOutProgress(file, id_Prefix) {
        $('#' + file.id).find('#' + id_Prefix + '-progress').fadeOut();
    }

    /////////////video & audio end//////////////////


</script>


</body>
</html>
